---
- name: Manage Azure resource group
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Create resource group
      azure.azcollection.azure_rm_resourcegroup:
        name: myResourceGroup
        location: westus
        tags:
          testing: testing
          delete: never