---
- name: Manage Azure resource group
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Create resource group
      azure.azcollection.azure_rm_resourcegroup:
        name: myResourceGroup
        location: westus
        tags:
          testing: testing
          delete: never

    - name: Delete resource group
      azure.azcollection.azure_rm_resourcegroup:
        name: myResourceGroup
        state: absent

    - name: Delete resource group including contained resources
      azure.azcollection.azure_rm_resourcegroup:
        name: myResourceGroup
        force_delete_nonempty: true
        state: absent